<body>
<divd="div"nn</div>
<script>
    var div = document.getElementById("div");
    div.innerHTML = "kkkkkkk";
    var ht = div.innerHTML;
    alert(ht);
   windows.locate.replace("https://symfony.com/doc/current/session.html");
</script>